{% extends 'base.html' %} {% block header %}
<style>
  .logout {
    text-align: right;
    width: 87%;
    font-size: 20px;
    color: green;
    text-decoration: auto;
  }

  .title {
    text-decoration: auto;
    color: black;
    font-size: 20px;
    font-style: oblique;
  }
</style>

<div class="d-flex alert alert-primary" role="alert">
  <h3>社内SNS</h3>
  <p><a class="logout" href="{% url 'logout' %}">logout</a></p>
</div>
{% endblock header %} {% block content %} {% if user.is_authenticated %}
<div class="container">
  {% for item in object_list %}
  <div class="alert alert-success" role="alert">
    <p>
      タイトル:
      <a class="title" href="{% url 'detail' item.pk %}">{{ item.title }}</a>
    </p>
    <p>投稿者:{{ item.author }}</p>
    <a
      href="#"
      class="btn btn-primary disabled"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >いいね:{{ item.good }}件</a
    >
    <a
      href="#"
      class="btn btn-secondary disabled"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >既読:{{ item.read }}人</a
    >
  </div>
  {% endfor %}
</div>
{% else %} please login {% endif %} {% endblock content %}
